@font-face {
  font-family: "HK Grotesk";
  src: url(./assets/hk-grotesk.woff2), url(./assets/hk-grotesk.woff);
}
/* End of fonts */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* End of reset */

body {
  font-family: "HK Grotesk", Arial;
  font-size: 36px;
  line-height: 1.25;
  background-color: #fff;
  color: #333333;
}

header {
  position: fixed;
  top: 36px;
  left: 36px;
  z-index: 1;
  transition: color 0.5s;
}

section {
  background-color: #c8dee0;
  min-height: 100vh;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.content {
  position: relative;
}

div.content img {
  position: relative;
}

div.square {
  position: absolute;
  top: 50px;
  left: -50px;
  width: 100px;
  height: 100px;
  background-color: #d54156;
}

div.circle {
  position: absolute;
  right: -50px;
  bottom: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #5982a0;
}

div.page {
  font-size: 22px;
  position: fixed;
  bottom: 36px;
  right: 36px;
}

div.pixels {
  font-size: 22px;
  position: fixed;
  bottom: 36px;
  left: 36px;
}

span {
  font-size: 14px;
}

div.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #333333;
  z-index: 1;
  transition: background-color 0.5s;
}

section.s2 {
  background-color: #c5c5c5;
}

section.s3 {
  background-color: #292121;
}

section.s4 {
  background-color: #f3f1f2;
}

section.s2 div.square {
  background-color: #d6ac35;
}

section.s2 div.circle {
  background-color: #be3c52;
}

section.s3 div.square {
  background-color: #5f3736;
}

section.s3 div.circle {
  background-color: #6e5f67;
}

section.s4 div.square {
  background-color: #d54156;
}

section.s4 div.circle {
  background-color: #5982a0;
}

header.white {
  color: #fff;
}

div.progress.white {
  background-color: #fff;
}

/* @media (max-width: 850px) {
  section.s2 div.content img,
  section.s4 div.content img {
    max-width: 600px;
  }
}

@media (max-width: 625px) {
  section.s1 div.content img,
  section.s3 div.content img {
    max-width: 300px;
  }

  section.s2 div.content img,
  section.s4 div.content img {
    max-width: 400px;
  }

  div.square {
    width: 70px;
    height: 70px;
    left: -30px;
  }

  div.circle {
    width: 70px;
    height: 70px;
    right: -30px;
  }
}

@media (max-width: 415px) {
  div.square {
    width: 40px;
    height: 40px;
    left: -10px;
  }

  div.circle {
    width: 40px;
    height: 40px;
    right: -10px;
  }

  section.s1 div.content img,
  section.s3 div.content img {
    max-width: 250px;
  }

  section.s2 div.content img,
  section.s4 div.content img {
    max-width: 320px;
  }
} */
